<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    {{! Custom styles for this template }}
    <link href="/css/app.css" rel="stylesheet">

  </head>
  <body>

    {{> header }}
    <div class="row header-block">
      {{> body }}
    </div>

    {{> footer }}

    {{! javascripts }}
    {{#each site.pagescripts.vendor}}
      <script src="/js/vendor/{{this}}"></script>
    {{/each}}
    {{#each site.pagescripts.custom}}
      <script src="/js/custom/{{this}}"></script>
    {{/each}}
    {{! END javascripts }}

  </body>
</html>
